* {
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box;
}

body {
    background-color: #141414;
}

a.genres-dropdown {
    border: solid 2px black;
}

img.thumbnail {
    width: 315px;
}

div.movies-row > div.row > * {
    padding: 0px; 
}

footer i {
    font-size: x-large;
    margin-right: 10px;
}

@media screen and (max-width:768px) {
    #sub-nav {
        display: none;
    }
}